{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{ user["name"] }}'s Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Id: {{ user["id"] }}</p>
    <p>Name: {{ user["name"] }}</p>
    <p>Roles: {{ user["roles"] }}</p>
    <p>Joined: {{ user["created"] }} UTC</p>
    
    {% if user["description"] %}
        <p>Description: {{ user["description"] }}</p>
    {% endif %}

    {% if user == g.user %}
        <hr>
        <form method="post" action="{{ url_for('account.signdown') }}">
            <input class="danger" type="submit" value="Signdown" onclick="return confirm('Are you sure?')">
        </form>
    {% endif %}
{% endblock %}