{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>A pretty bad social media website made by EliTheGingerCat. It is only going to get worse.</p>
    <p>All the <a href="{{ url_for('site.code') }}">code</a> is as close to public domain as possible. I think. If it is not, please let me know.</p>

    <p>You can also check out:</p>
    <ul>
        <li><a href="{{ url_for('site.never_asked_questions') }}">Never asked questions</a></li>
        <li>maybe more stuff in the future since this list is looking a little sad</li>
    </ul>
{% endblock %}