{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Never asked questions{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>These questions were never asked.</p>

    <h2>How are you?</h2>
    <p>I am feeling great!</p>

    <h2>Why is it called "cat bash"?</h2>
    <p>First of all, I definitely want to have "cat" in the name. Then I thought about other social media websites like Reddit, which sounds like "read it". This made me remember that the Bash command for reading a file is <code>cat</code>. Thus, I decided to just name it "cat bash" since it will (hopefully) indicate that it is named after the Bash command.</p>

    <h2>Why is the styling so bad?</h2>
    <p>It is just copied from the <a href="https://flask.palletsprojects.com/en/3.0.x/tutorial/static/">tutorial</a>, but trust me --- if I wrote it, the CSS would be way worse.</p>

    <h2>Update when?</h2>
    <p>Either in two days or two years.</p>

    <h2>Is this open source?</h2>
    <p>Yep! No idea why you would want anything to do with my <a href="{{ url_for('site.code') }}">code</a> but it is all public and unlicensed.</p>
{% endblock %}