{% extends html/base.html %}

{% block title %}Credits{% endblock %}

{% block content %}
	<h2>Contributors</h2>
	<h3>EliTheGingerCat</h3>
	<p>Main developer of the website.</p>
	<h3>DarkenedRing</h3>
	<p>Programming and UI design help.</p>
	<h2>Software</h2>
	<h3>Lune</h3>
	<img src="https://raw.githubusercontent.com/lune-org/lune/main/assets/logo/tilt.png" alt="Lune logo" />
	<a href="https://lune-org.github.io/docs">Docs</a>
	<a href="https://github.com/lune-org/lune">GitHub</a>
	<h3>Luau</h3>
	<img src="https://raw.githubusercontent.com/luau-lang/site/b4b65b708aeaca9aa23f11bc8c7342b325e0ca1c/logo.svg" alt="Luau logo" />
	<a href="https://luau-lang.org/">Docs</a>
	<a href="https://github.com/luau-lang/luau">GitHub</a>
{% endblock %}