{% extends html/base.html %}

{% block title %}Programming Progress{% endblock %}

{% block content %}
	<p>I am a little bit of a programmer.</p>
	<h2>Favourites</h2>
	<ol>
		<li>Luau (bro is the new Python)</li>
		<li>Lua</li>
		<li>Bash</li>
	</ol>
	
	<h2>Languages I am Okay at</h2>
	<ol>
		<li>Git (Okay I know it is not really a language but you get the point)</li>
		<li>Structured Query Language</li>
		<li>Python (this language is not great but not terrible)</li>
	</ol>

	<h2>Intriguing languages</h2>
	<ol>
		<li>C (as a non-C programmer, I say that segfaults are not really a big deal)</li>
		<li>C++ (already learned a bit)</li>
		<li>Rust</li>
	</ol>

	<h2>TERRIBLE languages</h2>
	<ol>
		<li>JavaScript</li>
		<li>TypeScript</li>
		<li>Java (basically JavaScript but worse)</li>
		<li>C#</li>
	</ol>
{% endblock %}